.mm-login-btn {
	width:fit-content;
	border-radius: 4px;
}
.mm-icon {
	float:left;
	height:32px;
	width:32px;
	margin-right:10px;
}
.mm-text {
	float:left;
	display: inline-block;
	margin-top:4px;
}
#mm-login-div {
	text-align:center;
	position: relative;
	padding:25px;
	width:fit-content;
	margin: 0 auto;
	border-style: solid;
	margin-top: 10%;
}